* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color, background-color 400ms;
}

*:focus {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}


:root {
    --img-bg: url('data:image/png;base64,');
}


/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #111;
    border-radius: 20px;
}

/* selection */
::selection {
    background: var(--fg-color);
    color: var(--bg-color);;
}

body {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

body.light {
    --bg-color: #FFF;
    --fg-color: #000;
    --header-bg-color: #DCE5E7;
    --header-fg-color: #16151b;
    --lang-bg-color: #BBC9DD;
    --lang-d-fg-color: #000;
}

body.dark {
    --bg-color: #000;
    --fg-color: #FFF;
    --header-bg-color: #111;
    --header-fg-color: #FFF;
    --lang-bg-color: #404040;
    --lang-d-fg-color: #64C7FF;
}

.nothing-for-show {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nothing-for-show h2 {
    color: var(--fg-color);
}







































.header-navbar {
    width: 100%;
    height: 70px;
    background-color: var(--header-bg-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 100;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


.header-navbar div {
    display: flex;
    align-items: center;
}

.header-navbar .info img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.header-navbar .info span {
    font-size: 25px;
    margin-left: 10px;
    color: var(--header-fg-color);
}

.header-navbar .git svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.header-navbar .git a {
    font-size: 20px;
    text-decoration: none;
    color: var(--header-fg-color);
    animation:show .6s .60s ease 1 both;
}

.header-navbar .git a.org{
    font-weight:500;
    text-decoration:none;
    color: var(--header-fg-color);
    position: relative;
    animation: show .2s .3s ease 1 both;
}

.header-navbar .git a.org:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--header-fg-color);
    bottom: -15%;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.header-navbar .git a.org:hover:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
    0% {
        width: 0;
        left:0;
        right:auto;
    }
    100% {
        left:0;
        right:auto;
        width: 100%;
    }
}

@keyframes out {
    0% {
        width:100%;
        left: auto;
        right: 0;
    }
    100% {
        width: 0;
        left: auto;
        right: 0;
    }
}

@keyframes show{
    0% {
        opacity:0;
        transform:translateY(-10px);
    }
    100% {
        opacity:1;
        transform:translateY(0);
    }
}

.header-navbar .toggle-theme {
    user-select: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--header-bg-color);
    position: absolute;
    top: 70px;
    right: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navbar .toggle-theme svg {
    width: 30px;
    height: 30px;
}

.header-navbar .toggle-theme.dark svg {
    color: #FFD600;
}

.header-navbar .toggle-theme.light svg {
    color: #1771F1;
}













































.c {
    padding-top: 70px;
}


.c .langs {
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.c .langs .langer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.c .langs .t {
    display: block;
    text-align: left;
    padding: 20px 30px;
    font-size: 30px;
    color: var(--fg-color);
}

.c .langs .langlist {
    width: 90%;
}

.c .langs .arrow-custom {
    width: 30px;
    height: 30px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.c .langs .arrow-custom svg {
    width: 30px;
    height: 30px;
}

.c .langs .arrow-custom.next {
    right: -30px;
}

.c .langs .arrow-custom.previous {
    left: -30px;
}


.c .langs .langlist .lang-pad {
    padding: 0 10px;
    display: flex!important;
    justify-content: center;
}


.c .langs .langlist .lang-item {
    height: 400px;
    background-color: var(--lang-bg-color);
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}

.c .langs .langlist .lang-item .img {
    background-image: var(--img-bg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
}

.c .langs .langlist .lang-item span {
    color: var(--fg-color);
    font-size: 22px;
    display: block;
    margin-top: 20px;
    padding-left: 20px;
    text-align: left;
    text-transform: capitalize;
}

.c .langs .langlist .lang-item p {
    font-size: 18px;
    color: var(--lang-d-fg-color);
    word-wrap: break-word;
    padding: 10px;
}