{% extends 'main.html' %}
{% block content %}
    <nav>
        <div id="nav" class="nav-wrapper">
                <div class="brand-img">
                    <div class="cursor"></div>
                </div>
        <ul id="" class="right">
            <li class="li"><a class="media" href="{% url 'main' %}">Languages</a></li>
            <li class="li"><a class="media" href="{% url 'main' %}">Projects</a></li>
            <li class="li"><a class="media" href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
        </div>
    </nav>
{% endblock content %}