{% extends 'main.html' %}

{% block content %}
  
 <nav>
    <div id="nav" class="nav-wrapper">
            <div class="brand-img">
                <div class="cursor"></div>
            </div>
      <ul id="" class="right">
        <li class="li"><a class="media" href="#languages">Languages</a></li>
        <li class="li"><a class="media" href="#projects">Projects</a></li>
        <li class="li"><a class="media" href="{% url 'contact' %}">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <h2 class="langs" id="languages">Languages</h2>
  <div id="cards">
    {% for item in items %}
      <div div class="card">
      <div class="card-image">
      <img src="static/img/{{item.image}}">
      <span class="card_title">{{item.title | title}}</span>
      </div>
      <div  class="card_content">
      <p>{{item.description}}</p>
      </div>
      </div>
      {% endfor %}
  </div>
  <button class="button" id="seeMore" style="vertical-align:middle"><span>See More </span></button>
  <h2 class="langs" id="projects">Projects</h2>
  <div style="margin-top: 80px;" class="main">
    {% for project in projects %}
    <div class="box">
      <div>
        <img src="static/img/{{project.image}}" alt="">
      </div>
      <p>{{project.title | title}}</p>
      <a href="">See Repos</a>
    </div>
    {% endfor %}
  </div>
  <button class="button" id="seeMore" style="vertical-align:middle"><span>See More </span></button>
  
  
    <div class="back2top">
      <a href="#" ><i class="fas fa-arrow-up"></i></a>
    </div>

  
      
      {% endblock content %}
      