{% extends 'main.html' %}

{% block content %}
 <nav>
    <div class="nav-wrapper">
            <div class="brand-img">
                <div class="cursor"></div>
            </div>
      <ul id="" class="right">
        <li class="li"><a class="media" href="#cards">Languages</a></li>
        <li class="li"><a class="media" href="">Projects</a></li>
        <li class="li"><a class="media" href="">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <h2 class="langs">Languages</h2>
  <div id="cards">
    {% for item in items %}
      <div div class="card">
      <div class="card-image">
      <img src="static/img/{{item.image}}">
      <span class="card_title">{{item.title | title}}</span>
      </div>
      <div  class="card_content">
      <p>{{item.description}}</p>
      </div>
      </div>
      {% endfor %}
  </div>
      <div class="line"></div>
    <h2 class="langs">Projects</h2>
    <div class="main">
  {% for project in projects %}
    <div class="box">
      <div>
        <img src="static/img/{{project.image}}" alt="">
      </div>
      <p>{{project.title | title}}</p>
    </div>
    {% endfor %}
  </div>

  <footer>
    
  </footer>
      
    {% endblock content %}
