{% extends 'main.html' %}

{% block content %}
 <nav>
    <div class="nav-wrapper">
            <div class="brand-img">
                <div class="cursor"></div>
            </div>
      <ul id="" class="right">
        <li class="li"><a class="media" href="#languages">Languages</a></li>
        <li class="li"><a class="media" href="#projects">Projects</a></li>
        <li class="li"><a class="media" href="#contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <h2 class="langs" id="languages">Languages</h2>
  <div id="cards">
    {% for item in items %}
      <div div class="card">
      <div class="card-image">
      <img src="static/img/{{item.image}}">
      <span class="card_title">{{item.title | title}}</span>
      </div>
      <div  class="card_content">
      <p>{{item.description}}</p>
      </div>
      </div>
      {% endfor %}
  </div>
  <h2 class="langs" id="projects">Projects</h2>
  <div style="margin-top: 80px;" class="main">
    {% for project in projects %}
    <div class="box">
      <div>
        <img src="static/img/{{project.image}}" alt="">
      </div>
      <p>{{project.title | title}}</p>
      <a href="{{project.link}}">See Repos</a>
    </div>
    {% endfor %}
  </div>
  <button class="button" id="seeMore" style="vertical-align:middle"><span>See More </span></button>
  
  <section>
    <h2 class="langs" id="contact">Contact Us</h2>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <fieldset>
          <legend>Information :</legend>
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="fname"><br><br>
          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="email">Gmail:</label>
          <input type="email" id="email" name="email"><br><br>
          <label for="birthday">Birthday:</label>
          <input type="date" id="birthday" name="birthday"><br><br>
          <button></button>
        </fieldset>
      </form>
    </div>
  </section>

  <footer>
    <b>a</b>
  </footer>
      
    {% endblock content %}
