.projects {
    margin-top: 200px;
    width: 100%;
    height: 500px;

    .projer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .t {
        display: block;
        text-align: left;
        padding: 20px 30px;
        font-size: 30px;
        color: var(--fg-color);
    }

    .projlist {
        width: 90%;

        .projs-pad {
            padding: 0 10px;
            display: flex!important;
            justify-content: center;
        }

        .projs-item {
            height: 400px;
            background-color: var(--lang-bg-color);
            border-radius: 10px;
            width: 100%;
            max-width: 300px;
            overflow: hidden;
        }

        .projs-item {
            .img {
                background-image: var(--img-bg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 45%;
            }

            span {
                color: var(--fg-color);
                font-size: 22px;
                display: block;
                margin-top: 20px;
                padding-left: 20px;
                text-align: left;
                text-transform: capitalize;
            }

            p {
                font-size: 18px;
                color: var(--lang-d-fg-color);
                word-wrap: break-word;
                padding: 10px;
            }
        }
    }

    .arrow-custom {
        width: 30px;
        height: 30px;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;

        svg {
            width: 30px;
            height: 30px;
        }

        &.next {
            right: -30px;
        }

        &.previous {
            left: -30px;
        }
    }
}
