@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: grey;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 255, 200) rgb(0, 89, 255);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(17, 11, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 200);
  border-radius: 20px;
}
.li{
    margin-right: 10px;
}

.brand-img{
    display: inline-block;
    position: relative;
    left: 10px;
    top: 2px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-image:url("../img/pic.png");
    background-position: center;
    background-size: 100%;
}
.cursor{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.card{
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card img{
    width: 300px;
    height: 150px;
}

.card_title{
    position: relative;
    top: -35px;
    color: snow;
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    font-family: 'Roboto', sans-serif;
}
.card_content{
    position: relative;
    top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    text-overflow: ellipsis;
}

.langs{
    margin: 0;
    padding: 0;
    text-align: center;
}

#cards{
    margin: 80px auto;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.line{
    height: 5px;
    width: 100%;
    left: 0px;
    background-color: black;
    position: absolute;
    top: 550px;
    animation: line 15s infinite;
    border-radius: 10px;
}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.box{
    position: relative;
    width: 250px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.197);
    background: white;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.box div{
    background-color: #ee6e73;
    width: 250px;
    height: 300px;
}
.box div img{
    width: 100%;
    height: 100%;
    transform-origin: top;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.197);
    transition: transform .4s;
}
.box:hover div img{
    transform: scale(0.8) translateY(10px);
}
.box p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-family: cursive;
    transform: translate(-50%, 20px);
    transition: all .4s;
    visibility: hidden;
}
.box:hover p{
    visibility: visible;
    transition-delay: .2s;
}



@media only screen and (max-width:600px) {
    .brand-img{
        width: 32px;
        height: 32px;
    }
    .media{
        font-size: small;
    }
}
@keyframes color{
    10%{color: rgb(97, 80, 3);}
    20%{color: rgb(100, 0, 0);}
    30%{color: rgb(1, 68, 29);}
    40%{color: rgb(149, 238, 6);}
    50%{color: rgb(15, 238, 238);}
    60%{color: rgb(28, 13, 240);}
    70%{color: rgb(32, 2, 59);}
    80%{color: rgb(2, 24, 44);}
    90%{color: rgb(241, 10, 184);}
    100%{color: rgb(32, 1, 3);}
}


@keyframes line {
    10%{background-color: rgb(100, 0, 0);}
    20%{background-color: rgb(97, 80, 3);}
    30%{background-color: rgb(149, 238, 6);}
    40%{background-color: rgb(1, 68, 29);}
    50%{background-color: rgb(15, 238, 238);}
    60%{background-color: rgb(2, 24, 44);}
    70%{background-color: rgb(28, 13, 240);}
    80%{background-color: rgb(32, 2, 59);}
    90%{background-color: rgb(241, 10, 184);}
    100%{background-color: rgb(32, 1, 3);}
}