
* {
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 255, 200) rgb(0, 89, 255);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(17, 11, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 200);
  border-radius: 20px;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #c9d1d9;
}

.li{
    margin-right: 10px;
}

.brand-img{
    display: inline-block;
    position: relative;
    left: 10px;
    top: 2px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-image:url("../img/pic.png");
    background-position: center;
    background-size: 100%;
}
.cursor{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.card{
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card img{
    width: 300px;
    height: 150px;
}

.card_title{
    position: relative;
    top: -35px;
    color: snow;
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    font-family: 'Roboto', sans-serif;
}
.card_content{
    position: relative;
    top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    text-overflow: ellipsis;
}

.langs{
    margin: 0;
    padding: 0;
    text-align: center;
}

#contact{
    margin-bottom: 80px;
}

#cards{
    margin: 80px auto;
    width: 80%;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
}



.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.box{
    position: relative;
    width: 250px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.197);
    background: white;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.box div{
    background-color: #ee6e73;
    width: 250px;
    height: 300px;
}
.box div img{
    width: 100%;
    height: 100%;
    transform-origin: top;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.197);
    transition: transform .4s;
}
.box:hover div img{
    transform: scale(0.8) translateY(10px);
}
.box p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-family: cursive;
    transform: translate(-50%, 20px);
    transition: all .4s;
    visibility: hidden;
}
.box:hover p{
    visibility: visible;
    transition-delay: .2s;
}

#seeMore{
    position: relative;
    left: 45%;
    margin-top: 50px;
    margin-bottom: 80px;
}

b{
    position: relative;
    top: 100vh;
}

.button {
    position: relative;
    left: 45%;
    display: inline-block;
    border-radius: 14px;
    background-color: #f4511e;
    color: #000000;
    text-align: center;
    font-size: 28px;
    width: 200px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 30px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: snow;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: rgb(0, 0, 0);
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

input{
    caret-color: cyan;
}

.dark-mode{
    position: fixed;
    top: 100px;
    right: 50px;
}

.sun{
    position: relative;
    top: 33px;
    right: 35px;
}

.moon{
    position: relative;
    bottom: 27px;
    left: 60px;
}


@media only screen and (max-width:600px) {
    .brand-img{
        width: 32px;
        height: 32px;
    }
    .media{
        font-size: small;
    }
}
@keyframes color{
    10%{color: rgb(97, 80, 3);}
    20%{color: rgb(100, 0, 0);}
    30%{color: rgb(1, 68, 29);}
    40%{color: rgb(149, 238, 6);}
    50%{color: rgb(15, 238, 238);}
    60%{color: rgb(28, 13, 240);}
    70%{color: rgb(32, 2, 59);}
    80%{color: rgb(2, 24, 44);}
    90%{color: rgb(241, 10, 184);}
    100%{color: rgb(32, 1, 3);}
}


