@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: grey;
}

.li{
    margin-right: 10px;
}

.brand-img{
    display: inline-block;
    position: relative;
    left: 10px;
    top: 2px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-image:url("https://cdn.discordapp.com/attachments/839607722428727337/839608377684000778/8c5dc3b8c1c7d8948a9cefb7eee54b7f.png");
    background-position: center;
    background-size: 100%;
}
.cursor{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.card{
    overflow: hidden;
}
.card_title{
    font-size: 24px;
    font-weight: 300;
    margin-left: 24px;
    font-family: 'Roboto', sans-serif;
}

#cards{
    margin: 80px auto;
    width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

#cards img{
    width: 300px;
    height: 160px;
}


@media only screen and (max-width:600px) {
    .brand-img{
        width: 32px;
        height: 32px;
    }
    .media{
        font-size: small;
    }
}